@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    /* Global color */
    --primary-color: #0492a9;
    /* background color */
    --primary-background: #101010;
    --secondary-background-color: #404040;
    --background-color: #000000;
    --background-color-1: #171717;
    --background-color-2: #262626;
    --background-color-3: #1C1C1C;
    --background-color-4: #181818;
    --primary-opacity: rgba(16, 16, 16, 0.5);
    --background-opacity-1: rgba(24, 24, 24, 0.5); 
    /* text color */
    --primary-text-color: #D4D4D4;
    --secondary-text-color: #849095;
    --text-color-1: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, var(--background-color-1), var(--background-color), var(--background-color-2));
}

#container{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: linear-gradient(to bottom right, var(--background-color-1), var(--background-color), var(--background-color-2));
}